body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: var(--tg-viewport-height);
  overflow-x: hidden;
}

body.scroll-locked {
  overflow-y: hidden;
}

html {
  background: var(--Elevation-1)
}


#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  --Stroke: #c7bab8;
  --Elevation-0: #f3ebea;
  --Elevation-1: #ebdedc;
  --Black-Primary: #2c3034;
  --Black-Secondary: #6B6661;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fd84e3;
}

*::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.grecaptcha-badge { 
  visibility: hidden !important;
}